services:
    tinderone:
        build:
            dockerfile: Dockerfile
            context: .

        image: tinderone

        ports:
            - '7080:80'

        volumes:
            - .:/var/www/html
