services:
    tinderone:
        container_name: tinderone
        build:
            dockerfile: Dockerfile
            context: .
        image: tinderone
        ports:
            - '7080:80'
        volumes:
            - .:/var/www/html

#    redis:
#        image: redis:7.2
#        container_name: redis
#        labels:
#            app: redis
#        restart: unless-stopped
#        ports:
#            - 127.0.0.1:6379:6379
