[mysqld]
# Основные настройки
server-id               = 2
socket                  = /var/run/mysqld/mysqld.sock
pid-file                = /var/run/mysql/mysqld.pid
datadir                 = /var/lib/mysql
lower_case_table_names  = 0  # Явно указываем case-sensitive режим

# Репликация
relay_log               = mysql-relay-bin
log_replica_updates     = ON
gtid_mode               = ON
enforce_gtid_consistency = ON
binlog_format           = ROW
binlog_row_image        = FULL

# Безопасность
skip_name_resolve       = ON
host_cache_size         = 0

# InnoDB
innodb_flush_log_at_trx_commit = 2
innodb_buffer_pool_size = 128M  # Рекомендуется для реплик
innodb_io_capacity      = 200
innodb_io_capacity_max  = 400

# Для реплики
read_only = ON
super_read_only = ON
replica_parallel_workers = 4
replica_parallel_type = LOGICAL_CLOCK
