[mysqld]
# Основные настройки
server-id                  = 2
pid-file                   = /var/run/mysql/mysqld.pid
socket                     = /var/run/mysqld/mysqld.sock

# Репликация
skip_replica_start         = ON
log_replica_updates        = ON
relay_log                  = mysql-relay-bin
gtid_mode                  = ON
enforce_gtid_consistency   = ON

# Безопасность
skip_name_resolve          = ON
host_cache_size            = 0

# InnoDB
innodb_flush_log_at_trx_commit = 2
